#BackButton
{
	float: left;	
	border-radius: 20px;
}
#barralateral
{
	position: fixed; 
	background-color: white;
	min-height: 1000px;
	min-width: 240px;

}
.breadcrumb{
	text-align: left;
	margin-top: 60px;
	margin-bottom: 0px;
}
#border
{
	border-radius: 30px;
}
.col-md-2
{
	background-color: white;
	padding-right: 0px;  

}

.col-md-10
{
	padding-right: 5%;
	padding-left: 5%;
	height: 100%;

}

#logousach
{
	max-width: 50px;
	vertical-align: right;	
}
.myCarusel{
	margin-right: 10%;
	margin-left: 10%;
	margin-top: 0%;
	margin-bottom: 0%;
}
.nav{
	margin-bottom: 0px;
}
.navbar
{
	background-size: 2%
}
#NextButton
{
	float: right;	
	border-radius: 20px;
}
#NumberButton
{
	float: center;
	border-radius: 30px;
}
#pies{
	text-decoration: white;
}

#Indice
{
	float: left;	
	border-radius: 20px;
}
body{
	background-color: rgb(238, 238, 238);
	margin-top: 95px;
	text-align: justify;
}

h1
{
	color:#848484;
	
}
h2
{
	color:#A4A4A4;
}
h3
{
	color:#A4A4A4;
}
h4
{
	color:#A4A4A4;
}
p
{
	color:#A4A4A4;
}