{%extends "BICIO/base.html"%}

{% block title %} INICIO {% endblock %}

{% block nav%}
   <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                
   </button>
   <ul class="nav navbar-nav">
      <li class="active"><a href="/"> Principal</a></li>
   </ul>

{% endblock%}

{% block breadcrumb%}
  <li class="active">Principal</li>
{% endblock %}

{% block barralateral%}
   <li class="active"><a href="/"><span class="glyphicon glyphicon-leaf"></span> Bienvenida </a></li>
{% endblock %}

{% block BotonNumero %} 1 {% endblock %}
{%block content%}

<h1> BIENVENIDO :)</h1>

<h4> <span class="glyphicon glyphicon-leaf"></span> {{context}} </h4>

<a id="Ejemplo App" href="ejemplo/llamadaEjemplo_1" class="btn btn-success btn-xs btn-block"><span class="glyphicon glyphicon-leaf"></span> 1 Ejemplo APP</a>
<a id="Ejemplo App - Constructor" href="ejemplo/llamadaEjemplos" class="btn btn-success btn-xs btn-block"><span class="glyphicon glyphicon-leaf"></span> 2 Ejemplo App basado en clases</a>
{% endblock %}

{% block scripts %}        

{% endblock %}