{%extends "BICIO/base.html"%}

{% block title %} EJEMPLO APP {% endblock %}

{% block nav%}
   <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                
   </button>
   <ul class="nav navbar-nav">
      <li class="active"><a href="/"> Principal</a></li>
   </ul>

{% endblock%}

{% block breadcrumb%}
  <li class="active">Principal</li>
{% endblock %}

{% block barralateral%}
   <li class="active"><a href="/"><span class="glyphicon glyphicon-leaf"></span> Bienvenida </a></li>
{% endblock %}

{%block content%}

<h1> EJEMPLO APP</h1>

<h4> <span class="glyphicon glyphicon-leaf"></span> Context: {{msje}} </h4>
<div class="container">
	<div class="row">
		<div class='col-sm-6'>
			<div class="form-group">
				<div class='input-group date' id='fromDate'>
					<input type='text' class="form-control" data-date-format="YYYY/MM/DD"/>
					<span class="input-group-addon">
						<span class="glyphicon glyphicon-calendar"></span>
					</span>
				</div>
			</div>
		</div>
	</div>
</div>

<h4>Tiempo XML</h4>
<h3></h3>
<h3 id="tiempo"> {{msje2}}</h3>
<h3 id="someElement"></h3>
<h3 id="anotherElement"></h3>
<h3 id="holamundo"></h3>
{% endblock %}

{% block scripts %}
<!--<script type="text/javascript">
	$(function () {
		$('#fromDate').datetimepicker({
			pickTime: false
		});
	});
</script>
<script>
	var response_xml = "{{msje2}}";
	//Corregir Símbolos
	//Parsear XML con Jquery
	var xml = "<rss version='2.0'><channel><title>RSS Title</title></channel></rss>";
	var xmlDoc = $.parseXML( xml );
	$xml = $( xmlDoc );
	$title = $xml.find( "title" );
	// Append "RSS Title" to #someElement
	$( "#someElement" ).append( $title.text() );
	// Change the title to "XML Title"
	$title.text( "XML Title" );
	// Append "XML Title" to #anotherElement
	$( "#anotherElement" ).append( $title.text() );
</script>-->
<script type="text/javascript">
	jQuery(document).ready(function($){
		//Corregir Símbolos
		//Parsear XML con Jquery
		//var xml = msje2;
		/*
		xmlDoc = $.parseXML( xml ),
		$xml = $( xmlDoc ),
		$Temperature = $xml.find( "Temperature" ),
		$Location_ = $xml.find("Location");
		// Append "RSS Title" to #someElement
		$( "#someElement" ).append( $Location_.text() );
		// Append "XML Title" to #anotherElement
		$( "#anotherElement" ).append( $Temperature.text() );
		*/
		
		//Quitar saltos de linea
		var xml = "<rss version='2.0'><channel><title>RSS Title</title></channel></rss>",
			xmlDoc = $.parseXML( xml ),
			$xml = $( xmlDoc ),
			$title = $xml.find( "title" );
			// Append "RSS Title" to #someElement
			$( "#someElement" ).append( $title.text() );
			// Change the title to "XML Title"
			$title.text( "XML Title" );
			// Append "XML Title" to #anotherElement
			$( "#anotherElement" ).append( $title.text() );
		


	});

	
	
</script>
{% endblock %}