{%extends "BICIO/base.html"%}

{% block title %} EJEMPLO APP {% endblock %}

{% block nav%}
   <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                
   </button>
   <ul class="nav navbar-nav">
      <li class="active"><a href="/"> Principal</a></li>
   </ul>

{% endblock%}

{% block breadcrumb%}
  <li class="active">Principal</li>
{% endblock %}

{% block barralateral%}
   <li class="active"><a href="/"><span class="glyphicon glyphicon-leaf"></span> Bienvenida </a></li>
{% endblock %}

{%block content%}

<h1> EJEMPLO APP - template_2.html</h1>

<h4> <span class="glyphicon glyphicon-leaf"></span> {{msje}} </h4>
<h4> <span class="glyphicon glyphicon-leaf"></span> {{msje2}} </h4>

{% endblock %}

{% block scripts %}


{% endblock %}